/* @theme original */

@import "default";

section {
  width: 1280px;
  height: 960px;
  font-size: 40px;
  padding: 40px;
}

h1 {
  font-size: 60px;
  color: #09c;
  text-align: center;
}

h2 {
  font-size: 50px;
}

/* プロフィール情報の中央揃え */
.speaker, .date {
  text-align: center;
  width: 100%;
  margin: 10px 0;
}

/* 画像の中央揃え */
img {
  display: block;
  margin: 0 auto;
}

