

  :root {
    --white: #ffffff;
    --text-black: #24243f;
    --text-sub: #808d96;
    --sapuri-blue: #0b41a0;
    --caution-pink: #de30ca;
    --action-green-plus: #36a4a1;
  }

  section {
    width: 1280px;
    height: 720px;

    font-size: 32px;
    line-height: 1.5;
    color: var(--text-black);
    background-color: var(--white);
    background-image: linear-gradient(
      180deg,
      var(--sapuri-blue) 8px,
      var(--white) 8px,
      var(--white) 100%
    );

    place-content: start start;
    padding-block: 68px;
    padding-inline: 100px;
  }

  section footer {
    display: none;
  }

  section::after {
    color: var(--text-sub);
    font-size: 60%;
    content: attr(data-footer) "\2003\2003" attr(data-marpit-pagination) " / "
      attr(data-marpit-pagination-total);
    inset: auto 40px 20px auto;
  }

  section.invert {
    color: var(--white);
    background: var(--sapuri-blue);
  }

  section.invert::after {
    color: inherit;
  }

  h1 {
    color: inherit;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-block: 1rem;
    padding: 0;
  }

  h2 {
    color: inherit;
    font-size: 1rem;
    font-weight: bolder;
    margin-block: 0.5rem;
    padding: 0;
  }

  h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: inherit;
    margin-block: 0.5rem;
    padding: 0;
  }

  :is(h1, section.agenda h2) em {
    color: var(--text-sub);
  }

  :is(h1, section.agenda h2) em::after {
    content: "\2002";
  }

  section.cover {
    color: var(--white);
    background: var(--sapuri-blue);

    display: grid;
    grid:
      "logo" auto
      "event-title" auto
      "title" 2fr
      "sub-title" 1fr
      / 1fr;
    gap: 0.5rem;
  }

  section.cover::after {
    display: none;
  }

  section.cover :is(h1, h2, h3, p) {
    margin: 0;
  }

  section.cover h1 {
    font-size: 1.7rem;
    place-content: safe center center;
  }

  section.cover h2 {
    font-weight: inherit;
  }

  section.cover h3 {
    font-size: 0.7rem;
  }

  section.agenda {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(8, auto);
    gap: 0 1.3rem;
  }

  section.agenda h1 {
    color: var(--sapuri-blue);
    font-size: 1.2rem;
    margin-block-start: 0.3rem !important;
    grid-row: 1 / -1;
  }

  section.agenda h1::after {
    content: "\2002|";
  }

  section.section-title {
    place-content: safe center center;
  }

  section.section-title h1 {
    font-size: 1.7rem;
  }

  section[data-marpit-advanced-background-split="right"] {
    padding-inline-end: 60px;
  }

  section.lead {
    place-content: safe center center;
  }

  section.lead h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  section.lead h2 {
    font-size: 1.7rem;
    text-align: center;
  }

  section.lead p {
    text-align: center;
  }

  p,
  ul {
    color: inherit;
    margin-block: 0.5rem;
  }

  em {
    font-style: inherit;
  }

  :is(p, ul) strong {
    color: var(--sapuri-blue);
    font-weight: bolder;
  }

  :is(p, ul) strong em {
    color: var(--caution-pink);
    font-weight: bolder;
  }

  :is(p, ul) em {
    font-weight: bolder;
  }

  ul {
    padding-inline-start: 2rem;
  }

  li {
    margin-block: 0.5rem;
  }

  li::marker {
    color: var(--text-sub);
    font-weight: bolder;
  }

  ul {
    list-style-type: "→\2003";
  }

  ul > li > ul {
    list-style-type: "◆\2003";
  }

  ul > li > ul > li > ul {
    list-style-type: "⦁︎\2003";
  }

  ul > li > ul > li > ul > li > ul {
    list-style-type: "⚬\2003";
  }

  small {
    font-size: 0.7rem;
    display: block;
  }

  a {
    color: var(--action-green-plus);
    text-decoration: underline;
  }
